apiVersion: v1
kind: Service
metadata:
  name: {{ include "nginx-static-site.serviceName" . }}
  labels:
    {{- include "nginx-static-site.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    {{- include "nginx-static-site.selectorLabels" . | nindent 4 }}
